body{
  background-color: $color-2;
  font-family: $font;
  overflow-y: auto;

  &.no-scroll{
    overflow-y: hidden;
  }
}


.section{
  border: none;
  padding-bottom: 40px;
  width: 100%;
  position: relative;
  overflow: hidden;
  z-index: 70;

  &.white{
    background-color: $color-1;
  }

  &.l-grey{
    background-color: $color-2;
  }

  &.black{
    background-color: $jet-black;
  }

  &.page-header{
    position: relative;
    overflow: hidden;
    padding: 0 20px 20px 20px;
    margin: 0;
    z-index: 700;

    .gradient-container{
      float: inherit;
      padding: 80px 0;
      border-radius: 0 0 20px 20px;
      min-height: 200px;
      position: relative;
      overflow: hidden;
      background: #6840e5;
      background: -moz-linear-gradient(-45deg,  #40e5d5 0%, #6840e5 100%);
      background: -webkit-linear-gradient(-45deg,  #40e5d5 0%,#6840e5 100%);
      background: linear-gradient(135deg,  #40e5d5 0%,#6840e5 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40e5d5', endColorstr='#6840e5',GradientType=1 );

      h1{
        position: relative;
        color: $color-1;
        font-size: 60px;
        padding: 0 30px;

        @media (max-width: 767px){
          font-size: 40px;
        }
      }

      h6{
        text-decoration: underline;
        padding: 0 30px;
        color: $color-1;
      }

      p{
        padding: 0 30px;
        color: $color-1;
      }


      @media(max-width: 767px){
        padding: 120px 0;
        border-radius: 0 0 15px 15px;
      }
    }

    .skip-to-demo-btn{
      position: absolute;
      bottom: 20px;
      right: 40px;

      .sprite{
        position: relative;
        top: -1px;
        display: inline-block;
      }

      @media(max-width: 767px){
        right: 20px;
        font-size: 12px;
        padding: 12px 15px;
      }
    }
  }

  &.home-header{
    .gradient-container{
      min-height: 500px;
    }
  }
}


.gradient-container{
  .contract{
    .con{
      position: absolute;
      bottom: 20px;
      right: 20px;
    }
  }

  .contract, .created{
    background-color: transparentize($color-1, 0.9);
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 240px;
    padding: 20px;

    .day, .month, .title{
      color: darken($secondary-color, 3%);
    }

    .day{
      line-height: 1;
      font-family: $h-font;
      text-align: left;
      font-size: 120px;
    }

    .month{
      text-align: left;
      font-size: 20px;
    }

    .title{
      letter-spacing: 2px;
      font-family: $h-font;
      text-align: right;
      display: block;
      font-size: 25px;
    }

    @media(max-width: 767px){
      top: auto;
      bottom: 0;
      height: 120px;
      width: 100%;

      .con{
        bottom: 10px;
      }

      .day{
        font-size: 80px;
      }

      .month{
        font-size: 15px;
      }
      .title{
        font-size: 18px;
      }
    }
  }

  .created{
    width: 250px;

    .con{
      width: 100%;
      position: absolute;
      bottom: auto;
      left: 20px;
      top: 25%;

      .day{
        position: relative;
        font-size: 100px;
        display: block;
        width: 100%;

        .ago{
          display: inline;
          font-size: 18px;
          position: absolute;
          bottom: 12px;
          line-height: 1.3;

          @media(max-width: 767px){
            font-size: 14px;
            bottom: 7px;
          }
        }

        @media(max-width: 767px){
          font-size: 70px;
        }
      }

      .title{
        text-align: left;
      }

      @include transforms(translate(0, -25%));
    }

    @media(max-width: 767px){
      width: 100%;

      .title, .day, .ago{
        color: darken($primary-color, 3%);
      }
    ;

      .con{
        top: auto;
        bottom: 5px;
        left: 20px;
        width: 150px;
        @include transforms(translate(0, 0));
      }
    }
  }
}


.title-card{
  background-color: white;
  position: relative;
  padding: 60px 20px 20px 20px;

  h5{
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
  }

  &.color-1{
    h5{
      background-color: $primary-color;
    }
  }

  &.color-2{
    h5{
      background-color: $secondary-color;
    }
  }
}

.c-button.skip-to-demo-btn{
  padding: 15px 25px;
  color: $color-2;
  border: 2px solid $color-2;
  background-color: transparent;
  border-radius: 26px;

  &:hover{
    color: $color-1;
    background-color: darken($secondary-color, 5%);
  }
}

.demo-grid{
  .square{
    width: 100%;
    padding-bottom: 100%;
    background-color: $color-2;
    float: left;
    position: relative;
  }
}

.c-badge{
  font-size: 14px;
  margin: 10px 0 0 0;
  display: inline-block;
  padding: 10px 20px;
  background-color: $color-2;
  color: $p-color;
  border-radius: 8px;
}

.gradient-separator{
  height: 2px;
  width: 100%;
  display: block;
  background: #6840e5;
  background: -moz-linear-gradient(-45deg,  #40e5d5 0%, #6840e5 100%);
  background: -webkit-linear-gradient(-45deg,  #40e5d5 0%,#6840e5 100%);
  background: linear-gradient(135deg,  #40e5d5 0%,#6840e5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40e5d5', endColorstr='#6840e5',GradientType=1 );
}
