.blur-movie-card {
  overflow: hidden;
  display: block;
  margin: auto;
  max-width: 350px;
  min-height: 500px;
  background-color: white;
  position: relative;
  width: 100%;
  border-radius: 10px 10px 0 0;
  z-index: 5;
  @include box-shadow(0 30px 45px -30px rgba(46, 48, 52, 0.4));

  .content {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 15px;
    width: 100%;
    margin: auto;
    height: 100%;
    z-index: 30;
    background-color: rgba(255, 255, 255, 0.5);

    @include transforms(translateY(65%));

    @include transition(transform ease 400ms);
  }

  .blur{
    overflow: hidden;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    @include transforms(translateY(65%));
    @include transition(transform ease 400ms);

    .clone{
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      height: 100%;
      width: 100%;

      @include transforms(scale(1.02) translateY(-64%));
      @include transition(transform ease 400ms);

      @include filter(blur(7px));
    }
  }


  p{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #38393e;
  }

  h4{
    margin: 20px 0 20px 0;
  }

  h5{
    margin: 32px 0 35px 0;
    color: #595959;
  }

  h4, h5, p{
    padding: 0 10px;
  }


  &.one{
    background: url("../images/5.jpg") no-repeat 50% 0; background-size: cover;

    .clone{
      background: url("../images/5.jpg") no-repeat 50% 0; background-size: cover;
    }
  }

  &.two{
    background: url("../images/6.jpg") no-repeat 50% 0; background-size: cover;

    .clone{
      background: url("../images/6.jpg") no-repeat 50% 0; background-size: cover;
    }
  }

  &.three{
    background: url("../images/4.jpg") no-repeat 50% 0; background-size: cover;

    .clone{
      background: url("../images/4.jpg") no-repeat 50% 0; background-size: cover;
    }
  }

  .rated{
    @include transforms(translateY(0));
    margin-bottom: 5px;
  }

  .length{
    @include transforms(translateY(0));
    color: $h-color;
  }

  .rating{
    @include transforms(translateY(0));
  }

  &:hover{
    cursor: pointer;
  }

  @media (max-width: 767px){
    min-height: 465px;
  }
}


.blur-movie-card{
  &.open{
    .content {
      @include transforms(translateY(30%));
    }

    .blur{
      @include transforms(translateY(30%));

      .clone{
        @include transforms(scale(1.02) translateY(-29%));
      }
    }
  }
}