$stack-card-color: #747474;

.dd-css-iphone-content{
  .min-nav{
    height: 40px;
    width: 100%;
    float: left;
    background-color: white;
    position: relative;

    span{
      height: 2px;
      width: 15px;
      position: absolute;
      right: 10px;
      top: 19px;
      background-color: darken($color-1, 20%);
      @include transforms(rotate(45deg));
    }

    span:last-child{
      @include transforms(rotate(-45deg));
    }

  }

  ul{
    width: 100%;
    list-style: none;
    float: left;
    padding: 0;
    font-family: $h-font;

    & > li{
      position: relative;
      text-align: center;
      margin: 0;
      font-size: 16px;
      padding: 15px 0 15px 0;
      background-color: darken($color-1, 6%);

      span{
        width: 4px;
        height: 100%;
        position: absolute;
        top: 0;
        right: -10px;
        background-color: $red;
      }
    }
    li:nth-child(2){
      padding: 40px 0 40px 0;
      background-color: darken($color-1, 2%);
    }
    li:nth-child(3){
      span{
        background-color: $green;
      }
      background-color: darken($color-1, 12%);
    }
    li:nth-child(4){
      span{
        background-color: $blue;
      }
      background-color: darken($color-1, 17%);
    }

    li:nth-child(5), li:nth-child(6),
    li:nth-child(7){
      background-color: darken($color-1, 14%);
      padding: 0;
      font-size: 20px;
      font-weight: bold;
    }

    li:nth-child(8) {
      background-color: darken($color-1, 14%);
    }
  }
}

.dd-concept-key{
  .r, .g, .b{
    padding: 4px 9px;
    border-radius: 4px;
    font-size: 14px;
  }

  .r{
    color: darken($red, 50%);
    background-color: $red;
  }
  .g{
    color: darken($green, 50%);
    background-color: $green;
  }
  .b{
    color: darken($blue, 50%);
    background-color: $blue;
  }
}

.stack-3d-example{
  height: 500px;

  .stack-card{
    width: 80%;
    height: auto;
    position: absolute;
    cursor: pointer;
    opacity: 0.7;

    &:hover{
      opacity: 1;
    }

    @include transition(all 300ms ease);
  }
}

.perspective-button{
  position: absolute;
  z-index: 2100;
  right: 10px;
  bottom: 0;
  color: darken($buttons-color, 25%);
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 100%;
  background-color: $buttons-color;
}

.stack-3d-card-values{
  display: block;
  margin: auto;
  max-width: 360px;
  list-style: none;
  padding: 0;

  li{
    position: relative;
    width: 100%;
    display: block;
    float: left;
    background-color: $color-2;
    padding: 0;
    margin-bottom: 5px;
    line-height: 50px;

    &.open{
      background-color: darken($color-2, 3%);
    }

    span{
      margin-left: 50px;
      text-align: center;
      line-height: 50px;
      display: inline-block;
      font-weight: bold;
      height: 50px;
      width: 50px;
      color: white;
      font-family: $h-font;
      background-color: $secondary-color;
      float: left;
    }

    div{
      float: left;
      padding-left: 30px;
      display: inline-block;
    }

    &:first-child{
      font-family: $h-font;
      font-weight: normal;
      span{
        width: 100px;
        margin-left: 0;
        margin-right: 30px;
      }
    }
  }
}

.navigation-container{
  height: 550px;
  position: relative;
  & .content{
    z-index: 1500;
    width: 100%;
    background-color: #494949;
    @include transforms(translateY(-100%));

    &.down{
      @include transforms(translateY(0));
    }
    .link-name{
      background-color: transparent;
    }
  }

  & .navigation-category{
    position: absolute;
    width: 100%;
    display: block;
    background-color: #303030;
    overflow: hidden;
    &:last-child{
      height: 52px;
    }
  }

  .link-name{
    display: block;
    background-color: #303030;
    z-index: 8000;
    position: relative;
    color: #dddddd;
    padding: 17px 30px;
    text-decoration: none;
    &:hover{
      text-decoration: none;
      color: #efefef;
      background-color: #393939;
      cursor: pointer;
    }
  }
}

.navigation-container .navigation-category .link-name .plus .rect,
.navigation-container .navigation-category,
.content{
  @include transition(all 500ms ease);
}

.chevron{
  height: 50px;
  width: 50px;
  position: absolute;
  top: 1px;
  right: 1px;
  & .rect{
    position: absolute;
    height: 1px;
    width: 11px;
    background-color: $buttons-color;
  }
  @include transforms(rotate(90deg));
  &.opened{
    @include transforms(rotate(0deg));
  }
  @include transition(all 200ms ease);
}

.rect{
  &:nth-child(1){
    @include transforms(translateX(20px) translateY(21px) rotate(45deg));
  }
  &:nth-child(2){
    @include transforms(translateX(20px) translateY(29px) rotate(-45deg));
  }
}