.gallery-square-example{
  width: 60%;
  padding-bottom: 60%;
  background-color: #696969;
  display: block;
  margin: 0 auto;
  .inner-thumbnail{
    width: 90%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.08);
    @media (max-width: 767px){
      &{
        width: 50%;
      }
    }
  }
  @media (max-width: 767px){
    &{
      width: 30%;
      padding-bottom: 30%;
    }
  }
}

.margin-bottom{
  margin-bottom: 30px;
}

.ios-browser-example{
  width: 90%;
  height: 300px;
  border-radius: 10px 0 0 0;
  float: right;
  background-color: transparent;
  .navigation{
    width: 100%;
    height: 15%;
    border-radius: 10px 0 0 0;
    float: left;
    background-color: rgb(230, 230, 230);
    .nav-butt{
      border-radius: 100%;
      width: 16px;
      height: 16px;
      float: left;
      margin: 15px 5px;
      &:nth-child(1){
        margin-left: 10px;
        background-color: rgb(254,97,82);
      }
      &:nth-child(2){
        background-color: rgb(255,190,6);
      }
      &:nth-child(3){
        background-color: rgb(87,207,55);
      }
    }
  }

  .ios-browser-content{
    height: 100%;
    width: 100%;
    border-radius: 10px 0 0 0;
    background-color: #ffffff;
    .folder{
      position: relative;
      padding-bottom: 23%;
      width: 30%;
      border-radius: 5px;
      background-color: rgb(108,205,250);
      float: left;
      margin: 10%;
      &:last-child p{
        color: #424242;
      }

      p{
        position: absolute;
        left: 0;
        right: 0;
        bottom: -55%;
        margin: auto;
        text-align: center;
        color: rgb(255, 146, 46);
      }
      @media (max-width: 767px){
        &{
          padding-bottom: 13%;
          width: 20%;
        }
      }
      @media (min-width: 768px) and (max-width: 991px){
        &{
          padding-bottom: 13%;
          width: 20%
        }
      }
    }
  }
}


.green{
  font-weight: bold;
  color: #98c363;
}

.gallery-square{
  width: 20%;
  padding-bottom: 20%;
  overflow: hidden;
  position: relative;
  float: left;
  border: 1px solid transparent;
  border-radius: 2px;
  img{
    margin: auto;
    height: 100%;
    display: block;
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    &:hover{
      cursor: pointer;
    }
  }
  @media (max-width: 767px) {
    &{
      width: 33.3%;
      padding-bottom: 33.3%;
    }
    .galleryPadding {
      padding: 0;
    }
  }
  @media (min-width: 768px) {
    &{
      width: 14.28571428571429%;
      padding-bottom: 14.28571428571429%;
    }
  }
}
@media (max-width: 767px) {
  .galleryPadding {
    padding: 0;
  }
}

.fadeIn{
  @include animation(fadein 0.5s ease-in both);
  @-webkit-keyframes fadein {
    0% ,50%{ opacity: 0 }
    100% { opacity: 1 }
  }

  @-moz-keyframes fadein{
    0% ,50%{ opacity: 0 }
    100% { opacity: 1 }
  }
  @-ms-keyframes  fadein{
    0% ,50%{ opacity: 0 }
    100% { opacity: 1 }
  }
  @-o-keyframes  fadein{
    0% ,50%{ opacity: 0 }
    100% { opacity: 1 }
  }
  @keyframes fadein {
    0%,50% { opacity: 0 }
    100% { opacity: 1 }
  }
}
.underlay{
  z-index: 5100;
}
.largeImage{
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: block;
  z-index: 1100;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.61);
  img{
    opacity: 0;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    margin: auto;
    z-index: 1200;
    position: absolute;
  }
  span{
    position: absolute;
    color: #e8e8e8;
    right: 0;
    padding: 30px;
    top: 70px;
    font-size: 20px;
    z-index: 9000;
    text-shadow: rgb(0, 0, 0) 0 0 1px;

    &:hover{
      color: #ffffff;
      cursor: pointer;
    }
  }

  @media (min-width: 768px){
    img{
      max-height: 80%;
      width: auto;
      border: 1px solid rgba(0, 0, 0, 0.23);
    }
  }
}