.logo-top{
  float: left;
  padding: 0 50px;
  margin: 0 !important;

  span{
    margin: 19px 0;
    float: left;
  }

  @media(max-width: 767px){
    padding: 0 20px;
  }
}

.navbar-default{
  margin: 0;
  background-color: $color-1;
  opacity: 1;
  @include transforms(translateY(0));

  &.transparent{
    background-color: transparent;
    opacity: 0;
    @include transforms(translateY(-100%));
  }

  &.static{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 1;
    z-index: 6000;
    background-color: transparent;
    border: none;
  }

  @include transition(all 300ms ease);
}


.navbar-fixed-top{
  z-index: 7000;

  .navbar-button-mobile{
    .rect{
      background-color: $jet-black;
    }
  }
}

#sidebar-nav{
  font-family: $h-font;
  letter-spacing: 1px;
  position: fixed;
  top: 0;
  right: 0;
  padding: 140px 0 0 0;
  width: 20%;
  height: 100%;
  z-index: 4000;
  overflow-y: scroll;
  background-color: $jet-black;
  @include transforms(translateX(100%));

  &.in{
    @include transforms(translateX(0));
  }

  ul{
    padding: 0;
    margin: 0;
    list-style: none;

    li{
      width: 100%;
      position: absolute;
      text-decoration: none;
      display: block;
      overflow: hidden;
      background-color: $jet-black;

      a{
        font-size: 12px;
        color: $color-1;
        text-align: right;
        float: left;
        padding: 20px 50px 20px 0;
        text-decoration: none;
        display: block;
        width: 100%;
        @include transition(all 100ms ease);

        &:hover{
          color: $color-1;
          background-color: darken($jet-black, 10%);
        }

        .sprite{
          position: absolute;
          left: 15px;
          top: 12px;

          &.plus{
            right: 10px;
            left: auto;
          }
        }

        &:active{
          color: white;
          background-color: darken($jet-black, 30%);
        }
      }

      @include transition(all 600ms ease);
    }

    .mask{
      height: 228px;
      &:hover{
        background-color: $jet-black;
      }
    }

    .active{
      color: white;
      background-color: darken($jet-black, 20%);
    }
  }
  @include transition(all 500ms ease);
}

.dropdown-container:hover{
  cursor: pointer;
}

.dropdown-items{
  a{
    padding: 20px 20px 20px 0 !important;
    letter-spacing: normal;
    background-color: lighten($jet-black, 5%);
  }
}

.dropdown-toggle{
  position: relative;
}

.dropdown-container{
  .plus{
    @include transition(all 100ms ease);
  }

  &.open{
    .plus{
      @include transforms(rotate(45deg));
    }
  }
}


.page-content-overlay{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 80%;
  z-index: 6000;
  background-color: transparent;
  display: none;

  &:hover{
    cursor: pointer;
  }

  &.show{
    display: block;
  }
}

@media (max-width: 991px){
  .page-content-overlay{
    width: 70%;
  }

  #sidebar-nav{
    width: 30%;
  }
}

@media (max-width: 767px){
  .page-content-overlay{
    width: 40%;
  }

  #sidebar-nav{
    width: 60%;
  }
}
