.space{
  @include  transform-style(preserve-3d);
  @include perspective(800px);
  @include perspective-origin(50%, 50%);
}

.card{
  @include  transform-style(preserve-3d);
  background-color: white;
  position: relative;

  -webkit-transition: -webkit-transform 250ms ease-out;
  -moz-transition: -moz-transform 250ms ease-out;
  -ms-transition: -ms-transform 250ms ease-out;
  -o-transition: -o-transform 250ms ease-out;
  transition: transform 250ms ease-out;
}


.movie-card {
  @include  transform-style(preserve-3d);
  min-height: 500px;
  background-color: white;
  position: relative;
  width: 100%;
  border-radius: 20px;
  -webkit-transition: -webkit-transform 250ms ease-out;
  -moz-transition: -moz-transform 250ms ease-out;
  -ms-transition: -ms-transform 250ms ease-out;
  -o-transition: -o-transform 250ms ease-out;
  transition: transform 250ms ease-out;

  @include box-shadow(0 30px 45px -30px rgba(46, 48, 52, 0.4));

  .content {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.95);
    width: 85%;
    margin: auto;
    height: 230px;
    border-radius: 0 0 20px 20px;
    @include transforms(translateZ(30px));
  }

  p{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #38393e;
    padding: 0 15px;
    @include transforms(translateZ(30px));
  }

  img{
    width: 100%;
  }

  h2{
    text-shadow: 4px 4px 14px rgba(109, 108, 108, 0.9);
    line-height: 40px;
    font-size: 34px;
    color: white;
    font-weight: bold;
    position: absolute;
    top: 40px;
    left: 0;
    padding: 0 25px;
    @include transforms(translateZ(50px));
  }

  &.one{
    background: url("../images/1.jpg") no-repeat 50% 0; background-size: cover;
  }

  &.two{
    background: url("../images/2.jpg") no-repeat 50% 0; background-size: cover;
  }

  &.three{
    background: url("../images/3.jpg") no-repeat 50% 0; background-size: cover;
  }

  &:hover{
    cursor: pointer;
  }
}


.rated{
  margin-bottom: 20px;
  float: right;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  color: #636468;
  border: 3px solid #636468;
  background-color: #ffffff;

  @include box-shadow(0px 11px 19px 0px rgba(181, 181, 181, 0.4));
  @include transforms(translateX(-20px) translateZ(60px));

  h3{
    font-size: 20px;
    margin: 0;
    text-align: center;
    line-height: 45px;
  }
}

.rating, .length{
  float: left;
  width: 100%;
  display: block;
}

.length{
  font-size: 14px;
  color: #a5a6a8;
  margin-bottom: 10px;
  @include transforms(translateX(10px) translateZ(20px));
}

.rating{
  height: 20px;
  width: 115px;
  background: url("../images/star-sprite.png") no-repeat 0 0;
  @include transforms(translateX(10px) translateZ(40px));

  &.five{
    background-position: 0 -97px;
  }

  &.six{
    background-position: 0 -123px;
  }
}






























