### Activate the rewrite rule engine
RewriteEngine On

RewriteCond %{HTTPS} on
RewriteRule ^/?$ http://%{chetanpate1.github.io}/ [R=301]
RewriteRule ^inner/directory/?$ http://%{chetanpate1.github.io}/inner/directory/ [R=301,L]
