<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="theme-color" content="#ffffff">

    <link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="images/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="images/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="images/manifest.json">
    <link rel="mask-icon" href="images/safari-pinned-tab.svg" color="#5bbad5">

    <link href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
    <body>
        <nav class="navbar navbar-default static">
            <div class="container-fluid">
                <a class="logo-top" ui-sref="home" ng-click="NavbarCtrl.close()"><span class="sprite logo-w"></span></a>

                <div class="navbar-button-mobile off-arrow" ng-click="NavbarCtrl.toggleButton()" ng-class="{'on-arrow': NavbarCtrl.navOpen}">
                    <div class="rect"></div>
                    <div class="rect"></div>
                    <div class="rect"></div>
                </div>
            </div>
        </nav>

        <navigation-bar></navigation-bar>

        <div ui-view autoscroll="true"></div>

        <main-footer></main-footer>
    </body>

    <script src="js/libs/jquery-1.11.1.min.js"></script>
    <script src="js/libs/jquery.finger.min.js"></script>

    <script src="js/libs/owl.carousel.min.js"></script>
    <script src="js/libs/parallax-card.js"></script>

    <script src="js/libs/angular.min.js"></script>
    <script src="js/libs/ui-router.min.js"></script>
    <script src="js/libs/angular-scroll.min.js"></script>

    <!-- Angular App.js -->
    <script src="js/app.min.js"></script>

</html>
