@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem
  }
}

/* For /#/experiments/tutorial only */
.tutorial-pulsing {
  animation: tutorial-pulsing 2s infinite;
}

@keyframes tutorial-pulsing {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 85, 85, 1), 0 0 0 9999px rgba(0, 0, 0, 0.7);
  }

  100% {
    box-shadow: 0 0 0 15px rgba(255, 85, 85, 0), 0 0 0 9999px rgba(0, 0, 0, 0.7);
  }
}