<div class="section l-grey page-header home-header">
    <div class="gradient-container container-fluid">
        <div class="container">
            <h1 class="margin-bottom-60">Hello I'm Chetan</h1>

        </div>

    </div>
</div>

<div class="section l-grey padding-bottom-40 padding-top-120">
    <div class="container" id="skills">
        <h4 class="margin-bottom-60">SKILLS</h4>
        <div class="row">
            <div class="col-sm-6 col-md-4 margin-bottom-30" ng-click="HomeCtrl.toggleButton('frontEnd')">

                <h6 class="text-center">FRONT-END</h6>

                <div class="fire-ball-container orange">
                    <div class="fire-ball" ng-class="{open : HomeCtrl.open.frontEnd }">
                        <span class="number">6</span>
                        <a href class="more-button plus">
                            <span class="line"></span>
                            <span class="line"></span>
                        </a>

                        <div class="con">
                            <span class="b-1"></span>
                        </div>
                        <div class="con">
                            <span class="b-2"></span>
                        </div>
                        <div class="con">
                            <span class="b-3"></span>
                        </div>
                        <div class="con">
                            <span class="b-4"></span>
                        </div>
                        <div class="con">
                            <span class="b-5"></span>
                        </div>
                        <div class="con">
                            <span class="b-6"></span>
                        </div>
                    </div>
                </div>

                <div class="skills-card" ng-class="{open : HomeCtrl.open.frontEnd }">
                    <div class="navbar-button-mobile-demo-1 on-demo-1">
                        <div class="rect"></div>
                        <div class="rect"></div>
                    </div>

                    <h6>HTML</h6>
                    <div class="horizontal-bar">
                        <span class="bar" ng-class="{'b-100' : HomeCtrl.open.frontEnd }"></span>
                    </div>

                    <h6>CSS</h6>
                    <div class="horizontal-bar">
                        <span class="bar" ng-class="{'b-100' : HomeCtrl.open.frontEnd }"></span>
                    </div>

                    <h6>SASS</h6>
                    <div class="horizontal-bar">
                        <span class="bar" ng-class="{'b-100' : HomeCtrl.open.frontEnd }"></span>
                    </div>

                    <h6>JS</h6>
                    <div class="horizontal-bar">
                        <span class="bar" ng-class="{'b-90' : HomeCtrl.open.frontEnd }"></span>
                    </div>

                    <h6>ANGULARJS</h6>
                    <div class="horizontal-bar">
                        <span class="bar" ng-class="{'b-90' : HomeCtrl.open.frontEnd }"></span>
                    </div>

                    <h6>JQUERY</h6>
                    <div class="horizontal-bar">
                        <span class="bar" ng-class="{'b-90' : HomeCtrl.open.frontEnd }"></span>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 margin-bottom-30" ng-click="HomeCtrl.toggleButton('backEnd')">
                <h6 class="text-center">BACK-END</h6>

                <div class="fire-ball-container blue">
                    <div class="fire-ball" ng-class="{open : HomeCtrl.open.backEnd }">
                        <span class="number">2</span>
                        <a href class="more-button plus">
                            <span class="line"></span>
                            <span class="line"></span>
                        </a>

                        <div class="con">
                            <span class="b-1"></span>
                        </div>
                        <div class="con">
                            <span class="b-2"></span>
                        </div>
                        <div class="con">
                            <span class="b-3"></span>
                        </div>
                    </div>
                </div>

                <div class="skills-card" ng-class="{open : HomeCtrl.open.backEnd }">
                    <div class="navbar-button-mobile-demo-1 on-demo-1">
                        <div class="rect"></div>
                        <div class="rect"></div>
                    </div>

                    <h6>PHP</h6>
                    <div class="horizontal-bar">
                        <span class="bar" ng-class="{'b-75' : HomeCtrl.open.backEnd }"></span>
                    </div>

                    <h6>LARAVEL</h6>
                    <div class="horizontal-bar">
                        <span class="bar" ng-class="{'b-75' : HomeCtrl.open.backEnd }"></span>
                    </div>
                </div>
            </div>

            <div class="col-sm-offset-3 col-sm-6 col-md-4 col-md-offset-0 margin-bottom-30" ng-click="HomeCtrl.toggleButton('other')">
                <h6 class="text-center">OTHER</h6>

                <div class="fire-ball-container">
                    <div class="fire-ball" ng-class="{open : HomeCtrl.open.other }">
                        <span class="number">4</span>
                        <a href class="more-button plus">
                            <span class="line"></span>
                            <span class="line"></span>
                        </a>

                        <div class="con">
                            <span class="b-1"></span>
                        </div>
                        <div class="con">
                            <span class="b-2"></span>
                        </div>
                        <div class="con">
                            <span class="b-3"></span>
                        </div>
                        <div class="con">
                            <span class="b-4"></span>
                        </div>
                    </div>
                </div>

                <div class="skills-card" ng-class="{open : HomeCtrl.open.other }">
                    <div class="navbar-button-mobile-demo-1 on-demo-1">
                        <div class="rect"></div>
                        <div class="rect"></div>
                    </div>
                    <h6>GIT</h6>
                    <div class="horizontal-bar">
                        <span class="bar" ng-class="{'b-90' : HomeCtrl.open.other }"></span>
                    </div>

                    <h6>SKETCHING</h6>
                    <div class="horizontal-bar">
                        <span class="bar" ng-class="{'b-100' : HomeCtrl.open.other }"></span>
                    </div>

                    <h6>PHOTOSHOP/ILLUSTRATOR</h6>
                    <div class="horizontal-bar">
                        <span class="bar" ng-class="{'b-100' : HomeCtrl.open.other }"></span>
                    </div>

                    <h6>GRAPHIC DESIGN</h6>
                    <div class="horizontal-bar">
                        <span class="bar" ng-class="{'b-90' : HomeCtrl.open.other }"></span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="gradient-separator"></div>
<div class="section l-grey padding-bottom-120 padding-top-120">
    <div class="container">
        <h4 class="margin-bottom-60">EXPERIMENTS</h4>
        <div class="row margin-bottom-30 experiments">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="space">
                    <div class="card">
                        <div class="gradient-container">
                            <span class="number-bg">01</span>
                            <h5 class="text-center">3D Cards</h5>
                        </div>
                        <p>
                            We can break out of static two dimensional content by using parallax with the addition of
                            user interaction and css 3d.
                        </p>
                        <a class="more-button" ui-sref="experiments.3d-cards">
                            <span class="line"></span>
                            <span class="line"></span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="space">
                    <div class="card">
                        <div class="gradient-container">
                            <span class="number-bg">02</span>
                            <h5 class="text-center">Frost Glass Cards</h5>
                        </div>
                        <p>
                            This beautiful effect is made by blurring the content behind to create and illusion of depth.
                            I first saw this on Window 7 taskbar and now a main part of IOS 7+.
                        </p>
                        <a class="more-button" ui-sref="experiments.frost-glass-cards">
                            <span class="line"></span>
                            <span class="line"></span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="space">
                    <div class="card">
                        <div class="gradient-container">
                            <span class="number-bg">03</span>
                            <h5 class="text-center">Animated Buttons</h5>
                        </div>
                        <p>
                            By animating HTML elements we can make buttons morph between two states as oppose to static boring content.
                        </p>
                        <a class="more-button" ui-sref="experiments.animated-buttons">
                            <span class="line"></span>
                            <span class="line"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="space">
                    <div class="card">
                        <div class="gradient-container">
                            <span class="number-bg">04</span>
                            <h5 class="text-center">CSS3 Loading Gifs</h5>
                        </div>
                        <p>
                            When loading in a large image, users are left with a Gif to indicate that something is happening.
                            Gifs don't have a high frame rate on mobile, this is where CSS3 animation shines.
                        </p>
                        <a class="more-button" ui-sref="experiments.loading-GIFs">
                            <span class="line"></span>
                            <span class="line"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="space">
                    <div class="card">
                        <div class="gradient-container">
                            <span class="number-bg">05</span>
                            <h5 class="text-center">Expanding Images</h5>
                        </div>
                        <p>
                            Normal galleries when you click on the thumbnail the larger image appears after it's lazy loaded.
                            Using CSS3 and jQuery I made an ios photo style animation.
                        </p>
                        <a class="more-button" ui-sref="experiments.expanding-images">
                            <span class="line"></span>
                            <span class="line"></span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="space">
                    <div class="card">
                        <div class="gradient-container">
                            <span class="number-bg">06</span>
                            <h5 class="text-center">CSS3 Dropdowns</h5>
                        </div>
                        <p>
                            When most list dropdowns animate height which causes the browser to re-paint, this can reduce the
                            performance of mobiles, tablets and even some laptops.
                        </p>
                        <a class="more-button" ui-sref="experiments.CSS3-dropdown">
                            <span class="line"></span>
                            <span class="line"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="gradient-separator"></div>

<div class="section l-grey padding-bottom-120 padding-top-120">
    <div class="container">
        <h4 class="margin-bottom-60">RECENT WORK</h4>
        <div class="row margin-bottom-30 work">
            <div class="col-md-4">
                <div class="space">
                    <div class="card">
                        <div class="gradient-container">
                            <img ng-src="images/lemonade-money.png">
                            <h5 class="text-center">Lemonade</h5>
                        </div>
                        <span class="c-badge">Mockups</span>
                        <span class="c-badge">Design & Implementation</span>
                        <span class="c-badge">Angularjs</span>
                        <span class="c-badge">UI design</span>
                        <span class="c-badge">Bootstrap</span>

                        <a class="more-button" ui-sref="work.lemonade">
                            <span class="line"></span>
                            <span class="line"></span>
                        </a>
                    </div>
                </div>

            </div>

            <div class="col-md-4">
                <div class="space">
                    <div class="card">
                        <div class="gradient-container">
                            <img ng-src="images/healthwatch-surrey.png">
                            <h5 class="text-center">Healthwatch</h5>
                        </div>
                        <span class="c-badge">Photoshop</span>
                        <span class="c-badge">Illustrator</span>
                        <span class="c-badge">Sketching</span>

                        <a class="more-button" ui-sref="work.healthwatch">
                            <span class="line"></span>
                            <span class="line"></span>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script>
    $('.card').parallaxCard({ tolerance: 40 });
</script>
