<div class="section page-header animate-in">
    <div class="gradient-container container-fluid">
        <div class="container">
            <div class="row">
                <h1 class="margin-bottom-60 text-left">HEALTHWATCH SURREY</h1>
                <h6>OBJECTIVE</h6>
                <p class="col-sm-6">Create: poster (A4 & A3), postcard (A5), email footer and web banner using the brand guidelines.</p>
            </div>
        </div>

        <div class="contract">
            <div class="con">
                <span class="day">03</span>
                <span class="month">WEEK</span>
                <span class="title">CONTRACT</span>
            </div>
        </div>
    </div>
</div>


<div class="section l-grey padding-bottom-120 padding-top-120 animate-in">
    <div class="container">
        <h4 class="margin-bottom-60">SKILLS USED</h4>

        <div class="row">
          <span class="skills-badge">Photoshop</span>
          <span class="skills-badge">Illustrator</span>
          <span class="skills-badge">Sketching</span>
        </div>
    </div>
</div>

<div class="gradient-separator"></div>

<div class="section l-grey padding-bottom-120 padding-top-120">
    <div class="container">
        <h4 class="margin-bottom-60">POSTERS</h4>

        <div class="row">
          <div class="col-sm-6">
            <div class="card-image">
                <img ng-src="images/work/healthwatch/1-A4-young-girl-2.jpg">
            </div>
          </div>

          <div class="col-sm-6">
            <div class="card-image">
                <img ng-src="images/work/healthwatch/3-A3-01.jpg">
            </div>
          </div>
        </div>
    </div>
</div>

<div class="gradient-separator"></div>

<div class="section l-grey padding-bottom-120 padding-top-120">
    <div class="container">
      <h4 class="margin-bottom-60">POSTCARDS</h4>
      <div class="row healthwatch-carousel">
        <img class="margin-bottom-40" ng-src="images/work/healthwatch/Postcard-front-2.jpg">
        <img class="margin-bottom-40" ng-src="images/work/healthwatch/Postcard-back-2.jpg">
        <img class="margin-bottom-40" ng-src="images/work/healthwatch/Postcard-back-1.jpg">
        <img class="margin-bottom-40" ng-src="images/work/healthwatch/Postcard-front-4.jpg">
      </div>
    </div>
</div>

<div class="gradient-separator"></div>

<div class="section l-grey padding-bottom-120 padding-top-120">
    <div class="container">
      <h4 class="margin-bottom-60">EMAIL FOOTER & WEB BANNER</h4>
      <div class="row healthwatch-carousel">
        <img class="margin-bottom-40" ng-src="images/work/healthwatch/web-banner-1.jpg">
        <img class="margin-bottom-40" ng-src="images/work/healthwatch/web-banner-2.jpg">
        <img class="margin-bottom-40" ng-src="images/work/healthwatch/web-banner-3.jpg">
        <img class="margin-bottom-40" ng-src="images/work/healthwatch/email-footer-1.jpg">
        <img class="margin-bottom-40" ng-src="images/work/healthwatch/email-footer-2.jpg">
      </div>
    </div>
</div>

<script>
    $('.healthwatch-carousel').owlCarousel({
        loop: true,
        margin: 20,
        responsive:{
            0:{
                items:1
            },
            600:{
                items:1
            },
            1000:{
                items:2
            }
        }
    });
</script>
